* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --theme: #1e90ff;
    --theme-2: #1d3b58;
    --green: #85ba64;
}

ul {
    list-style: none;
}

.flex-hr {
    display: flex;
    flex-flow: row;
}

.flex-vr {
    display: flex;
    flex-flow: column;
}