@media screen and (max-width: 600px) {
    .header {
        padding: 90px 20px;
    }
    .product-row {
        flex-grow: 1;
        height: 150px;
    }
    .product-row img {
        width: 130px;
    }
    .footer {
        padding: 20px;
    }
}